/* remove yellow background on ads: */
ins {
background: #fff;
text-decoration: none;
color: #000;
}

.rm_wrap{
	max-width:840px;
}

.rm_section{
	border:1px solid #959595;
	background:#f9f9f9;
  padding:10px 0px 10px 20px; /*jsv*/
  margin-bottom:30px;
}

.rm_opts {
	float:left;	
}
.rm_opts label{
	font-size:12px;
	font-weight:700;
	width:200px;
	display:block;
	float:left;	
}
.rm_input {
	/*padding:30px 10px;*/
	/*border-bottom:1px solid #ddd;*/
  /*border-top: 1px solid #fff;*/
  padding: 1px;
}
.rm_opts small{
	display:block;
	float:right;
	width:200px;
	color:#999;
  margin-left:30px;
  margin-right:30px;
}
.rm_opts input[type="text"], .rm_opts select{
	width:320px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}
.rm_input input:focus, .rm_input textarea:focus{
		background:#fff;
}
.rm_input textarea{
	width:320px;
	height:120px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}
.rm_title h3 {
	cursor:pointer;
	font-size:1em;
	text-transform: uppercase;
	margin:0;
	font-weight:bold;
	float:left;
	width:100%;
	color:white;
  padding:12px 15px 15px 15px;
}

.rm_title{
	color:white;
  background-color: #1177CC;
	width:100%;
  height:40px;
}


.clearfix{
	clear:both;
}

